{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
<div id="page-menu">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title"><span>Liste des types de Bovin</span></div>      
                    <nav>
                        <ul>
                            <li class="current"><a href="{{ path('type_new') }}"><div>Création de type </div></a></li>                            
                        </ul>
                    </nav>                                 

                </div>

            </div>

        </div>
<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="table-responsive">

    <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.type }}</td>
                <td>
                    <a href="{{ path('type_show', {'id': type.id}) }}">show</a>
                    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

                </div>

            </div>

        </section>
{% endblock %}
