{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Bovin{% endblock %}

{% block body %}
	<section id="content">

		<div class="content-wrap bg-light">

			<div class="container">

				<div class="row justify-content-center">
					<div class="col-lg-7 col-md-10">
						<div class="card shadow-sm">
							<div class="card-header">
									<h4 class="mb-0">Création du Bovin</h4>
								</div>

    {{ include('bovin/_form.html.twig') }}
	</div>
						</div>
					</div>

				</div>

			</div>

		</section>
    <a href="{{ path('bovin_index') }}">back to list</a>
{% endblock %}
